.spiner{
    background-color: orange;
    height: 200px;
    width: 200px;
    position: absolute;
    left: 150px;

    border-radius: 50%;
    border: 10px solid rgba(255, 255, 255, 0.519);
    border-top: 10px solid rgba(0, 0, 255, 0.396);
    animation: ani 2.5s linear infinite;
}
@keyframes ani {
to{
    transform: rotate(360deg);
}
    
}